.frame-wrapper {
  font-size: 0.7px;
  width: 1826em;
  outline: 1em solid black;
  height: 1254em;
  position: relative;
}

.frame-bubbles {
  width: 1826em;
  height: 899em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.frame-app-container {
  border-radius: 30em 30em 0 0;
  width: 1281em;
  height: 740em;
  background-color: white;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 64em;
  grid-template-rows: max-content max-content auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0em 12em 40em rgba(182, 151, 235, 0.25);
}
.frame-app-container .frame-button {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 8em;
  width: max-content;
  align-items: center;
  padding: 8em 12em;
  background-color: #f3f3f4;
  border-radius: 10em;
}
.frame-app-container .frame-button .frame-button-icon, .frame-app-container .frame-button .frame-button-icon svg {
  height: 20em;
  width: 20em;
}
.frame-app-container .frame-button .frame-button-icon path, .frame-app-container .frame-button .frame-button-icon svg path {
  fill: #09080b;
}
.frame-app-container .frame-button .frame-button-label {
  font-size: 14em;
  color: #09080b;
  font-weight: 500;
}
.frame-app-container .frame-header {
  height: 60em;
  padding: 12em 32em;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 32em;
  justify-content: start;
  border-bottom: 1em solid #f4f4f6;
}
.frame-app-container .frame-header .frame-header-logo {
  width: 32em;
  height: 32em;
  align-self: center;
}
.frame-app-container .frame-header .frame-header-logo img {
  width: 100%;
}
.frame-app-container .frame-header .frame-header-menu {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 4em;
  justify-content: start;
}
.frame-app-container .frame-header .frame-header-menu .frame-header-menu-item {
  padding: 8em 12em;
}
.frame-app-container .frame-header .frame-header-menu .frame-header-menu-item p {
  font-size: 14em;
  color: #726784;
  font-weight: 500;
}
.frame-app-container .frame-header .frame-header-menu .frame-header-menu-item.home {
  position: relative;
}
.frame-app-container .frame-header .frame-header-menu .frame-header-menu-item.home p {
  color: #09080b;
}
.frame-app-container .frame-header .frame-header-menu .frame-header-menu-item.home::after {
  display: block;
  content: "";
  width: 16em;
  height: 2em;
  background-color: #09080b;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}
.frame-app-container .frame-section {
  padding: 0 32em;
}
.frame-app-container .frame-section.is-bottom {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr;
  overflow: hidden;
}
.frame-app-container .frame-section .frame-section-header-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.frame-app-container .frame-section .frame-section-header {
  font-size: 24em;
  font-weight: 700;
  letter-spacing: -0.03em;
}
.frame-app-container .frame-section .frame-section-header.is-secondary {
  font-weight: 500;
  transform: translateX(-2%);
  opacity: 0;
  animation: top-numbers-in 200ms ease-out forwards;
  animation-delay: 5550ms;
}
.frame-app-container .frame-section .frame-top-numbers-container {
  margin-top: 32em;
  width: 100%;
  border-top: 1em solid #f4f4f6;
  border-bottom: 1em solid #f4f4f6;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  transform: translateX(-2%);
  opacity: 0;
  animation: top-numbers-in 400ms ease-out forwards;
  animation-delay: 5150ms;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item {
  padding: 24em;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 8em;
  position: relative;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item:first-child::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1em;
  right: 0;
  height: 1em;
  background-color: white;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item:not(:first-child) {
  border-left: 1em solid #f4f4f6;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-label {
  font-size: 14em;
  font-weight: 500;
  color: #726784;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-value {
  font-size: 20em;
  font-weight: 500;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-value {
  font-size: 14em;
  color: #b5afc0;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  grid-column-gap: 8em;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-icon {
  width: 20em;
  height: 20em;
  background-color: #e4fffb;
  border-radius: 100%;
  padding: 4em;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-icon svg {
  height: 12em;
  width: 12em;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-icon svg path {
  fill: #00c9ae;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-icon.down {
  background-color: #ffebf7;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-icon.down path {
  fill: #ff67c7;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-value {
  font-size: 14em;
  color: #00c9ae;
  font-weight: 500;
}
.frame-app-container .frame-section .frame-top-numbers-container .frame-top-numbers-item .frame-top-numbers-item-comparison .frame-top-numbers-item-comparison-rate .frame-top-numbers-item-comparison-rate-value.down {
  color: #ff67c7;
}
.frame-app-container .frame-section .frame-main-chart-container {
  width: 100%;
}
.frame-app-container .frame-section .frame-main-chart-container .frame-main-chart {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto;
  width: inherit;
  position: relative;
}
.frame-app-container .frame-section .frame-main-chart-container .frame-main-chart::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
  transform: translateX(0%);
  position: absolute;
  animation: chart-curtain-out 600ms ease-out forwards;
  animation-delay: 5750ms;
}
.frame-app-container .frame-section .frame-main-chart-container .frame-main-chart img {
  width: 100%;
  margin-top: auto;
}

.frame-slack-container {
  width: 508em;
  height: 436em;
  background-color: white;
  box-shadow: 0em 12em 40em rgba(182, 151, 235, 0.25);
  border-radius: 20em;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content 1fr;
  padding: 10em;
  position: absolute;
  left: 1204em;
  top: 420em;
  opacity: 0;
  transform: translateY(20%);
  animation: slack-container-in 400ms ease-out forwards;
  animation-delay: 6350ms;
}
.frame-slack-container .frame-slack-tooltip-container {
  left: 167em;
  top: 220em;
  position: absolute;
  background-color: #09080b;
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 6em;
  padding: 20em 30em;
  border-radius: 20em;
  box-shadow: 0em 12em 40em rgba(182, 151, 235, 0.25);
}
.frame-slack-container .frame-slack-tooltip-container .frame-slack-tooltip-period {
  font-size: 20em;
  color: white;
}
.frame-slack-container .frame-slack-tooltip-container .frame-slack-tooltip-metric-item {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 12em;
  align-items: center;
  justify-content: start;
}
.frame-slack-container .frame-slack-tooltip-container .frame-slack-tooltip-metric-item .frame-slack-tooltip-metric-icon {
  height: 16em;
  width: 16em;
  background-color: #8D79F6;
  border-radius: 100%;
}
.frame-slack-container .frame-slack-tooltip-container .frame-slack-tooltip-metric-item .frame-slack-tooltip-metric-icon.alt {
  background-color: #F25F33;
}
.frame-slack-container .frame-slack-tooltip-container .frame-slack-tooltip-metric-item .frame-slack-tooltip-metric-value {
  font-size: 22em;
  color: white;
  font-weight: 500;
}
.frame-slack-container .frame-slack-header-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 20em;
  align-items: center;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header {
  font-size: 35em;
  font-weight: 700;
  letter-spacing: -0.04em;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples {
  padding: 12em 20em;
  border-radius: 20em;
  box-shadow: 0em 12em 40em rgba(182, 151, 235, 0.25);
  display: flex;
  width: max-content;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item {
  width: 60em;
  height: 60em;
  border-radius: 100%;
  position: relative;
  background-color: white;
  display: flex;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item img {
  width: 100%;
  border-radius: 100%;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item.logo-slack::after {
  content: "";
  top: 0em;
  left: 0em;
  bottom: 0em;
  right: 0em;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0em 12em 40em rgba(182, 151, 235, 0.25);
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item.logo-slack img {
  width: 70em;
  height: 70em;
  margin-left: -5em;
  margin-top: -5em;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item:not(.logo-slack)::after {
  content: "";
  top: -2em;
  left: -2em;
  bottom: -2em;
  right: -2em;
  position: absolute;
  border-radius: 100%;
  border: 3em solid white;
}
.frame-slack-container .frame-slack-header-container .frame-slack-header-peoples .frame-slack-header-peoples-item:not(:first-child) {
  margin-left: -15em;
}
.frame-slack-container .line-charts-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: auto;
  width: auto;
}
.frame-slack-container .line-charts-container img {
  width: 100%;
  margin-top: auto;
}

.frame-sources-container {
  position: absolute;
  left: 50%;
  top: 30em;
  transform: translateX(-50%);
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 50em;
}
.frame-sources-container .frame-sources-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 60em;
  justify-content: start;
}
.frame-sources-container .frame-sources-list.connection-path {
  position: absolute;
  top: 0em;
}
.frame-sources-container .frame-sources-list.connector {
  position: absolute;
  top: 0em;
}
.frame-sources-container .frame-sources-list.connector .frame-sources-connector-container {
  width: 100em;
}
.frame-sources-container .frame-sources-list.connector .frame-sources-connector-container .frame-sources-connector {
  height: 20em;
  width: 20em;
  margin: auto;
  background-color: #5e00ff;
  border-radius: 100%;
  border: 4em solid white;
  opacity: 0;
  animation: connector-migrate 1500ms ease-out infinite;
  animation-delay: 3650ms;
}
.frame-sources-container .frame-sources-list .frame-sources-connection-path-container {
  width: 100em;
  height: 0em;
  animation: path-connect 1000ms ease-out forwards;
  animation-delay: 3400ms;
}
.frame-sources-container .frame-sources-list .frame-sources-connection-path-container .frame-sources-connection-path {
  width: 20em;
  background-image: linear-gradient(rgba(243, 243, 244, 0.1), #f3f3f4);
  height: 100%;
  margin: auto;
}
.frame-sources-container .frame-sources-item {
  height: 100em;
  width: 100em;
  background-color: white;
  border-radius: 100%;
  display: flex;
  z-index: 999;
  box-shadow: 0 0 0 2em #f3f3f4;
  position: relative;
}
.frame-sources-container .frame-sources-item.tktk img {
  opacity: 0.5;
}
.frame-sources-container .frame-sources-item img {
  height: 56em;
  width: 56em;
  margin: auto;
}
.frame-sources-container .frame-sources-item img.sm {
  height: 48em;
  width: 48em;
}
.frame-sources-container .frame-sources-item img.lg {
  height: 64em;
  width: 64em;
}
.frame-sources-container .frame-sources-item img:not(:first-child) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
}
.frame-sources-container .frame-sources-item.ks-in2 img:not(:first-child) {
  animation: source-connected 500ms ease-out forwards;
  animation-delay: 3650ms;
}
.frame-sources-container .frame-sources-item.tktk img {
  animation: source-connected-tktk 500ms ease-out forwards;
  animation-delay: 3650ms;
}
.frame-sources-container .frame-sources-item.ks-in {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: source-in;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}
.frame-sources-container .frame-sources-item.ks-in img:not(:first-child) {
  animation: source-connected 500ms ease-out forwards;
  animation-delay: 3400ms;
}
.frame-sources-container .frame-sources-item.ks-in.o1 {
  animation-delay: 1000ms;
}
.frame-sources-container .frame-sources-item.ks-in.o2 {
  animation-delay: 1400ms;
}
.frame-sources-container .frame-sources-item.ks-in.o3 {
  animation-delay: 1800ms;
}
.frame-sources-container .frame-sources-item.ks-in.o4 {
  animation-delay: 2200ms;
}
.frame-sources-container .frame-sources-item.ks-in.o5 {
  animation-delay: 2600ms;
}
.frame-sources-container .frame-sources-item.ks-in.o6 {
  animation-delay: 3000ms;
}

@keyframes source-in {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes source-connected {
  100% {
    opacity: 0;
  }
}
@keyframes source-connected-tktk {
  100% {
    opacity: 1;
  }
}
@keyframes path-connect {
  0% {
    height: 0em;
    opacity: 0;
  }
  100% {
    height: 500em;
    opacity: 1;
  }
}
@keyframes connector-migrate {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: translateY(500em);
  }
}
@keyframes top-numbers-in {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes chart-curtain-out {
  100% {
    opacity: 0;
    transform: translateX(120%);
  }
}
@keyframes slack-container-in {
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=frame.css.map */
